In [5]:
import os
import pandas as pd
from IPython.display import display

ROOT_DIR = os.environ.get('PYTHONPATH')

FILENAME = 'vep_benign_variants_with_clusters.csv'
OUTNAME = FILENAME.replace('.csv','') + '_nr' + '.csv'

INFILE_PATH = os.path.join(ROOT_DIR, 'synced_files/vep_variants/', FILENAME)
OUTFILE_PATH = os.path.join(ROOT_DIR, 'synced_files/vep_variants/', OUTNAME)

INFILE_DF = pd.read_csv(INFILE_PATH, sep='\t')
display(INFILE_DF)

           uniprot position WT Mut     cluster
0       A0A1B0GTW7       31  S   F  A0A286YEC0
1       A0A1B0GTW7      384  S   L  A0A286YEC0
2           A0AVF1      263  N   S  A0A1Y1HXI3
3           A0AVF1      263  N   S  A0A1Y1HXI3
4           A0PJY2      278  H   Y  A0A091DC32
...            ...      ... ..  ..         ...
148500      Q9Y6Y1      955  R   W      K7DY74
148501      Q9Y6Y1     1077  Y   C      K7DY74
148502      Q9Y6Y1     1077  Y   C      K7DY74
148503      Q9Y6Z7      176  C   W      L9LCR2
148504      Q9Y6Z7      176  C   W      L9LCR2

[148505 rows x 5 columns]

In [6]:
encountered_dict = {}

def generate_key(tup):
   return getattr(tup, 'uniprot') + str(getattr(tup, 'position')) + getattr(tup, 'WT') + getattr(tup, 'Mut')

boolMask = []

for row in INFILE_DF.itertuples():
   key = generate_key(row)
   try:
      if encountered_dict[key] == True:
         boolMask.append(False)
   except KeyError:
      encountered_dict[key] = True
      boolMask.append(True)

NR_INFILE_DF = INFILE_DF[boolMask]
NR_INFILE_DF['category'] = 'LB/B'

display(NR_INFILE_DF)

NR_INFILE_DF.to_csv(OUTFILE_PATH, sep='\t', index=False)

/var/folders/y3/mxnsyg_910x11q_t3z54wkbr0000gn/T/ipykernel_30032/2115581776.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  NR_INFILE_DF['category'] = 'LP/P'

           uniprot position WT Mut     cluster category
0       A0A1B0GTW7       31  S   F  A0A286YEC0     LP/P
1       A0A1B0GTW7      384  S   L  A0A286YEC0     LP/P
2           A0AVF1      263  N   S  A0A1Y1HXI3     LP/P
4           A0PJY2      278  H   Y  A0A091DC32     LP/P
6           A0PK11      165  T   K  A0A093GHV1     LP/P
...            ...      ... ..  ..         ...      ...
148495      Q9Y6X9      413  V   F  A0A226P8Q3     LP/P
148497      Q9Y6X9      431  A   V  A0A226P8Q3     LP/P
148499      Q9Y6Y1      955  R   W      K7DY74     LP/P
148501      Q9Y6Y1     1077  Y   C      K7DY74     LP/P
148503      Q9Y6Z7      176  C   W      L9LCR2     LP/P

[33582 rows x 6 columns]